@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Disable scrolling */
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Disable scrolling */
}

.AppHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 5px 12px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AppFooter {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.MenuAndContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 77%;
  overflow-y: auto; /* Enable scrolling within this container if needed */
}